[submodule "idl"]
	path = idl
	url = https://github.com/raveious/home-automation-idl.git
[submodule "cpprestsdk"]
	path = cpprestsdk
	url = https://github.com/Microsoft/cpprestsdk.git
[submodule "Fast-RTPS"]
	path = Fast-RTPS
	url = https://github.com/eProsima/Fast-RTPS.git
